<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chandler.learning.agent.mapper.learning.LearningVocabularyTagMapper">
    <delete id="physicalDeleteByVocabularyId">
        DELETE FROM learning_vocabulary_tag WHERE vocabulary_id = #{vocabularyId}
    </delete>
    <insert id="insertBatch">
        INSERT INTO learning_vocabulary_tag
        (id, vocabulary_id, normalized_term, tag_type, tag_value, display_name, weight, source,
         create_time, update_time, deleted, version)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.vocabularyId}, #{item.normalizedTerm}, #{item.tagType}, #{item.tagValue},
             #{item.displayName}, #{item.weight}, #{item.source}, #{item.createTime}, #{item.updateTime},
             #{item.deleted}, #{item.version})
        </foreach>
    </insert>
</mapper>
