<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chandler.learning.agent.learning.infrastructure.mapper.LearningReviewRecordMapper">

    <select id="selectPassedAssessmentTypes" resultType="java.lang.String">
        SELECT DISTINCT assessment_type
        FROM learning_review_record
        WHERE unit_id = #{unitId}
          AND entry_id = #{entryId}
          AND check_result = 'correct'
          AND deleted = 0
    </select>

    <select id="selectPassedAssessmentTypesBatch"
            resultType="com.chandler.learning.agent.learning.domain.bo.LearningAssessmentPassBO">
        SELECT entry_id, assessment_type
        FROM learning_review_record
        WHERE unit_id = #{unitId}
        <choose>
            <when test="entryIds != null and entryIds.size() > 0">
                AND entry_id IN
                <foreach collection="entryIds" item="entryId" open="(" separator="," close=")">
                    #{entryId}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
          AND check_result = 'correct'
          AND deleted = 0
        GROUP BY entry_id, assessment_type
    </select>

    <select id="selectPassedAssessmentTypesByUnits"
            resultType="com.chandler.learning.agent.learning.domain.bo.LearningAssessmentPassBO">
        SELECT unit_id AS unitId, entry_id AS entryId, assessment_type AS assessmentType
        FROM learning_review_record
        WHERE
        <choose>
            <when test="unitIds != null and unitIds.size() > 0 and entryIds != null and entryIds.size() > 0">
                unit_id IN
                <foreach collection="unitIds" item="unitId" open="(" separator="," close=")">
                    #{unitId}
                </foreach>
                AND entry_id IN
                <foreach collection="entryIds" item="entryId" open="(" separator="," close=")">
                    #{entryId}
                </foreach>
            </when>
            <otherwise>
                1 = 0
            </otherwise>
        </choose>
          AND check_result = 'correct'
          AND deleted = 0
        GROUP BY unit_id, entry_id, assessment_type
    </select>
</mapper>
